
/* Global Stuff */
*,
::before,
::after {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --color1: #f2f2f2;
    --color2: #8b1212;
}

body {
    background-color: #FFFAF0;
    color: black;
}

/* Seperator */

.seperator {
    width: 50%;
    height: 8px;
    background-color: black;
    margin: 15px auto 15px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
  }

/* p {
    background-color: var(--color1);
    border-radius: 5px;
} */

.head-links {
    display: flex;
    flex-direction: row;
    margin: auto;
    list-style: none;
    padding: 25px;
    text-decoration: none;
}

.head-links li {
    width: auto;
    background-color: #FFFAF0;
    border-radius: 10px;
    font-size: 25px;
    margin: 0 5px 0 5px;
    transition: 
        background-color 1s,
        color 1s;
}

.head-links li:hover {
    background-color: #2e2e2e;
    color: white;
}


/* Music Section */

h1 {
    display: flex;
    justify-content: center;
    font-size: 8vw;
    margin: 25px 0 0 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.music-head {
    display: flex;
    justify-content: left;
    margin-left: 300px;
    font-size: 4vw;
}

.music-container h3 {
    display: flex;
    justify-content: center;
    color: black;
    background-color: rgb(210, 210, 210);
    width: 33%;
    margin: 5px 160px;
    border-radius: 10px;
    height: auto;
    padding: 2px;
}

iframe {
    display: flex;
    justify-content: center;
    margin: auto;
}

.music-links {
    background-color: white;
    border-radius: 25px;
    border: var(--color2) 5px solid;
    margin: 25px auto 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 125px;
    width: 50%;
}

.music-links a {
    text-decoration: none;
    color: inherit;
}

.music-links img {
    width: 75px;
    height: 75px;
}

/* Artwork Section */
.art-head {
    display: flex;
    justify-content: center;
    font-size: 4vw;
    border: var(--color2) 15px solid;
    margin: 0 150px 25px 150px;
    border-radius: 10px;
}

.artwork-container {
    max-width: 50%;
    max-height: 50%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .slides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    background-color: #2e2e2e;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/* Contact Section */
.contact-head {
    display: flex;
    justify-content: left;
    margin-left: 300px;
    font-size: 4vw;
}
input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  input[type=email], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  input[type=submit] {
    background-color: var(--color2);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    transition: 
        background-color .5s;
  }
  /* #04AA6D */
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .contact-form-container {
    border-radius: 50px;
    background-color: #f2f2f2;
    padding: 25px;
  }
  .contact-form-container label {
    display: flex;
    justify-content: center;
    padding: 15px 0 5px 0;
  }
  
  .contact-div {
    justify-content: center;
  }
/* Footer */

.logo {
    text-align: center;
    padding-top: 5px;
}

.socials {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px 0 20px 0;
    margin: auto;
    align-content: space-between;
    
}
.socials li {
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px 0 5px;
    transition: 
        background-color .5s,
        color .5s;
}

.socials li:hover {
    background-color: #2e2e2e;
    color: white;
}

li > a {
    text-decoration: none;
    color: inherit;
    padding: 0 12px 0 12px;
}

/* Animation Stuff */  
